<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início</title>
  </head>
  <body>
    <!-- Incluindo o cabeçalho -->
    <%- include("partials/header") %>

    <h1>Bem-Vindo</h1>

    <!-- Incluindo o rodapé -->
    <%- include("partials/footer") %>
  </body>
</html>
